 .button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    cursor: pointer;
  }
  .today {
    position: relative;
    line-height: 1.25rem;
  }
  .today {
    color: #7a8291;
    cursor: pointer;
  }
  .date {
    display: flex;
    align-items: center;
}

.date input {
    padding: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    background: #44415f00;
}
  .date,
  .date-controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
  }
  .date-controls {
    align-items: center;
    gap: 1rem;
  }
  .button3{
    border-radius: 4px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button3 {
    background-color: #c1e24b;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    color: #fff;
    cursor: pointer;
  }
  .actions,
  .button3,
  .view-controls {
    display: flex;
    flex-direction: row;
  }
  .actions {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .view-controls {
    position: absolute;
    width: calc(100% - 48px);
    top: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .bianca-heath-me,
  .provider {
    position: relative;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .bianca-heath-me {
    font-weight: 600;
    color: #3b3e45;
  }
  .filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .text7 {
    position: relative;
    color: #d4d4d4;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .iconsort-ascending {
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  .cell {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    color: #3b3e45;
  }
  .iconsort-ascending1 {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: none;
  }
  .appointment,
  .cell1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cell1 {
    flex: 1;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
  }
  .appointment {
    border-bottom: 1px solid #dcdfe3;
    font-size: 0.75rem;
    color: #666e7d;
  }
  .text12 {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .cell5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cell5 {
    align-self: stretch;
    flex: 1;
    padding: 1rem;
  }
  .appointment1:hover{
    background: #8b93a1be;
  }
  .appointment1{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .appointment1 {
    border-bottom: 1px solid #dcdfe3;
  }
  .table{
    position: relative;
    width: calc(100% - 48px);
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .appointments-list {
    position: relative;
    flex: 1;
    background-color: #1c1a2e;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: 0.88rem;
    color: #e2e2e2;
    padding: 1rem 0.5rem;
  }

.pagination{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
}
  a.page-link{
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
  }

  a.page-link{
    color: white;
    text-decoration: none;
  }
  a.page-link:hover{
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
    background-color: #8b93a1be;
  }

  a.page-link.active {
    background-color: #c1e24b;
    border-radius: 5px;
}



/*CLIENTE NOVO*/
.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 999;
}

.modal {
    background-color: #1c1a2e;
    border-radius: 8px;
    padding: 0.4rem 3rem 1rem 3rem;
}

.close {
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.campo-text{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

button.button3{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.8rem;
    transition: 0.2s ease;
    background: #1c1a2e00;
    border: 1px solid white;
}

button.button3:hover{
    background: #c1e24b;
    border: 1px solid rgba(255, 255, 255, 0);
}

input#newClient,#newService  {
    padding: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    background: #44415f;
    border-radius: 5px;
}

input#newStartDate,#newEndDate  {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    background: #44415f00;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color for WebKit browsers (Chrome, Safari) */
    cursor: pointer;
  }

  div.cliente i.fa-user{
    font-size: 50px;
    justify-content: center;
    display: flex;
    padding-bottom: 1rem;
  }



/*lOADING*/
.loading-overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other elements */
    background: #5858588c;
}

  .loading-bar {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 35%;
    left: 45%;
    background: transparent;
    border: px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #c1e24b;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #c1e24b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .loading-bar:before {
   content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 5px solid #c1e24b;
    border-right: 5px solid #c1e24b;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }

  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }

    100% {
      transform: rotate(405deg);
    }
  }


/*FILTROS*/
  .accordion {
    width: calc(100% - 48px);
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .accordion-item {
    background-color: #44415f;
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }
  .accordion-item-header {
    padding: 0rem 3rem 0rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
    transition: 0.3s ease;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    background: #1c1a2e9d;
  }

  .row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }
