
.dashboardcontent{
    align-items: center;
    padding-top: 20px;
}
.max-w-xl{
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;

    background-color: #2825418c;
    margin: 10px;
}
.space-y-6 h2{
    font-size: 25px;
    margin: 0;
}
.space-y-6 p{
    margin: 5px 0;
    color: aliceblue;
    font-size: 14px;

}
.camp-input-label{
    display: flex;
    flex-direction: column;
}
.camp-input-label label{
    margin: 30px 0 10px 0;
    padding: 0;
    font-size: 16px;
}
.camp-input-label input{
    background-color: transparent;
    border: 0.1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
}
.space-y-6 button{
    padding: 7px 13px;
    border-radius: 5px;
    border: 0.5px solid white ;
    background: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    outline: none;
    margin-top: 25px;
}
.space-y-6 button:hover{
    background-color: #71c578;
}
.button-red{
    border: none !important;
    background-color: rgb(153 27 27)!important;
}
.button-red:hover{
    background-color: rgb(220 38 38)!important;
}
.confirm-user-deletion{
    position: absolute;
    background-color: #71c578;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 400px;
    background-color: rgb(36, 43, 59);
    border: 1px solid rgb(220 38 38);
}
.confirm-user-deletion h2{
    margin:  10px 0 0 0;
}
.confirm-user-deletion p{
    margin:  10px 0;
}
.img-top{
    text-align: center;
}
.header-internal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.imagem-user img, .containe-img-submit img{
    width: 120px;
    height: 120px;
    border-radius: 150px;
    top: 0;
}
.button-img {
    position: relative;

}

.containe-img{
    position: relative;
    width: 120px;
    height: 120px;
    top: 0;
    margin: auto;
}
.containe-img-master{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containe-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #282541f6;
    margin: 10px;
    width: 300px;
    height: auto;
}
.toggle-button{
    position: absolute;
    top: -20px;
    left: 5px;
}
.toggle-button:hover{
    background-color: rgba(240, 255, 255, 0.263) !important;
}
.containe-form input{
    margin-top: 30px;
    width: 100%;
    background-color: transparent;
    border: 0.1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
}
.container-buttons-img input{
    opacity: 1;
    background-color: rgba(55, 106, 151, 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.containe-img:hover .container-buttons-img{
    opacity: 1;
}
.container-buttons-img{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    clip: rect(60px, 120px, 120px, 0px);
    border-radius: 120px;
    width: 120px;
    height: 120px;
    top: 0px;

}
.button-confirm-new-img{
    margin: 10px !important;
}
.container-buttons-img i {
    position: relative;
    color: #bdc7c5;
    font-size: 30px;
    top: -55px;

}
.img-temporary{
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50%;
}
@media (max-width: 950px) {
    .header-internal {
      grid-template-columns: 1fr;
    }
  }
@media screen and (max-width: 600px) {
    .dashboardcontent{
        left: 0;
    }
}
@media screen and (max-width: 700px) {
    .confirm-user-deletion {
        width: 350px;
    }
}

@media screen and (max-width: 550px) {
    .confirm-user-deletion {
        width: 300px;
    }
}
@media screen and (max-width: 420px) {
    .dashboardcontent{
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .confirm-user-deletion {
        width: 250px;
    }
}
@media screen and (max-width: 350px) {
    .confirm-user-deletion {
        width: 200px;
    }
}
